@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  line-height: 1.2;
  background: #060818;
  /* background: linear-gradient(rgb(32, 39, 56) 0%, rgb(7, 8, 22) 100%); */
}

body {
  font-family: HGGTZH, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
}
